/*VARIAVEIS*/
:root {
    --primary-color: #31B3FE;
    --secondary-color: #00244A;
    --third-color: #0082C8;
    --white-color: #FFF;
    --gap: 30px;
}

/*DOC SETTINGS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--primary-color);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size:40px;
    text-transform: uppercase;
}
h2 {
    font-size: 35px;
    margin-bottom: 50px;
    line-height: 1.2;
    text-transform: uppercase;
}
h3 {
    font-size: 50px;
}
h4 {
    font-size: 45px;
}
h5 {
    font-size: 4px;
}
h6 {
    font-size: 35px;
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 30px;    
}

/*CLASSES*/
.section{
    min-height: 100vh;    
}
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px var(--gap);
}
.main-bg {
    /*background-image: url('../images/main.svg');
    background-size: cover;
    background-position: center center;*/
    background: var(--secondary-color);
    color: var(--white-color);
}
.white-bg {
    background: var(--white-color);
    color: var(--secondary-color);
}

/*MENU SETTINGS*/
.logo{
    width: 80px;
    height: 60px;
    margin-bottom: -7px;
}

.menu {
    background: var(--white-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
}
.menu h1 {
    font-size: 23px;
    color: var(--secondary-color);
}

.menu-content {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 20px;
    font-size: 18px;
    color: var(--secondary-color);
    position: relative;
}
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}


/*MAIN CONFIG*/
/*inicio*/


/*produtos*/
.produtos .carrosel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.produtos .carrosel{
    padding-top: 20px;
}

    /*Card*/
.produtos .carrosel .prod {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 5px;
    color: var(--third-color);
  
}
.produtos .carrosel .prod:hover{
    box-shadow: -3px -3px 3px 0 #5c5c5c, 3px -3px 3px 0 #5c5c5c, -3px 3px 3px 0 #5c5c5c, 3px 3px 3px 0 #5c5c5c;
    margin: -10px 0 -10px 0;
    
    .legenda-produto{
        padding: 0 0 30px 10px;
    }
}

.produtos .carrosel .prod .imagem-produto img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 90%;
}

    /*Legenda-do-produto*/
.produtos .carrosel .prod .legenda-produto{
    padding: 0 0 10px 10px;
    

}

    /*Botao*/
.produtos .carrosel .prod .botao-produto{
    align-self: center;
    background-color: var(--third-color);
    color: #FFF;
    border: none;
    width: 70%;
    height: 25px;
    border-radius: 5px;

}
section.produtos .corpo.dois .carrosel .prod .botao-produto:hover{
    background-color: #00474c;

}


/*sobre*/



/*FOOTER CONFIG*/
footer .rodape{
    min-width: 100vw;
    height: 200px;
    background-color: var(--secondary-color);
}

